body {
font-family: Arial, sans-serif;
margin: 20px;
}
table {
border-collapse: collapse;
width: 100%;
}
td {
background-color: transparent;
padding: 8px;
border: 1px solid #ddd;
}
tr{
background-color: transparent;
}
.map-container {
height:100%;
width:100%;
}


.threat_param {
text-emphasis-color: red;
}